@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #333333;
  margin: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  border: none;
}

.button-brown {
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.button-green {
  background-color: #7DB54F;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.navigation-list {
  text-align: center;
  list-style: none;
}

.navigation-user {
  text-align: center;
  list-style: none;
  margin: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 15px
  rgba(0, 0, 0, 0.2);
}


.main-hero {
  background-image: url(/images/hero-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5e94b8;
  background-size: cover;
}




.advantages-heading,
.search-title,
subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list {
  list-style: none;
  padding-left: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-grey {
  background-color: #83B3D31F;
}

.advantages-item-light-blue {
  background-color: #83B3D333;
}
.offers-list {
  list-style: none;
}

.advantages-description,
.offers-description {
  font-size: 18px;
  line-height: 21px;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756157;
  background-size: cover;
}

.footer-phone a {
  color: #333333;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

label {
  font-size: 18px;
  line-height: 23px;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-container {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color:#756157;
  background-size: cover;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-sorting {
  font-size: 18px;
  line-height: 21px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
}

.button-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.pagination {
  list-style: none;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36 px;
}

.pagination-current {
  color: #333333;
  background-color: #F2F2F2;
}
