@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.wrapper {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  padding: 8px 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 161px;
}


.button-search {
  min-width: 375px;
}


.button-modal-search {
  width: 577px;
}

.button:hover, button:focus {
background-color: #615048;
outline: none;
}

.button:active {
color: #FFFFFF4D;
outline: none;
}

.button:disabled {
  background-color: #E5E5E5;
  opacity: 0.3;
}

.button-transparent, .button-transparent:hover, .button-transparent:focus {
  background-color: transparent;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover, .button-green:focus {
  background-color: #6C9E42;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover, .button-blue:focus {
  background-color: #68A2CA;
  }


.button-nav {
  width: 160px;
}

.button-search {

}

.button-subscribe {
width: 232px;
}

.button-additional {
  font-size: 20px;
  line-height: 36px;
}

.form-buttons-container .button + .button {
  margin-top: 36px;
}

.button-transparent:focus {
  outline:#5e94b8 2px solid;
  outline-offset: -2px;
}

.page-navigation {
  display: flex;
}

.navigation-logo {
  margin-left: 70px;
}

.sedona-logo {

}

.navigation-list {
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 30px;
  width: 439px;
  padding-left: 0;
}

.navigation-item {}

.navigation-item a:focus, .navigation-item a:hover {
  color: #756157;
  }

  .navigation-item a:active {
    color: #7561574D;
    }


.navigation-user {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 268px;
  margin-left: auto;
  margin-right: 70px;
}


.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 20px 0;
  margin: 0 16px;
  display: block;
  position: relative;
}


.navigation-link-current::after {
position: absolute;
content:"";
display: block;
margin: 0;
bottom: 0;
left: 0;
height: 2px;
width: 100%;
background-color: #756257;
}

.navigation-user-link {
  min-width: 44px;
  position: relative;
}

.navigation-user-link:nth-child(1) {
  margin-right: 3px;
}

.navigation-user-link:hover svg path, .navigation-user-link:focus svg path {
fill:#756157;
}

.navigation-user-link:active svg path {
fill:rgba(0, 0, 0, 0.2);
}

.navigation-favorite {
position: relative;
display: inline-block;
  width: 19px;
  height: 17px;
}

.navigation-icon {
fill: #000000;
}

/*
.navigation-user-item:nth-child(1)  {
  background-image: url('/images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.navigation-user-item:nth-child(2)  {
  background-image: url('/images/icon-favorites.svg');
  background-repeat: no-repeat;
  background-position: center;
}
*/


.navigation-user-item:nth-child(3) {
  margin-left: 20px;
}


.favorites-count {
display: block;
position: absolute;
top: -7px;
right: 1px;
text-decoration: none;
text-align: center;
padding: 5px;
border-radius: 50%;
width: 20px;
height: 20px;
color: #ffffff;
font-size: 10px;
line-height: 10px;
background-color: #7DB54F;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  width: 458px;

}

.main-hero {
  background-image: url('/images/hero-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5e94b8;
  background-size: cover;
  height: 485px;
  padding: 51px 371px 82px;
  position: relative;
}



.main-hero::after {
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/divider.svg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
}


.advantages-title-container {
  display: block;
  height: 261px;
  margin: 0 auto;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 69px;
}


.advantages-heading,
subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.search-title {
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  margin: 0;
  margin-bottom: 54px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /*
  display: flex;
  flex-wrap: wrap;
  */
  display: grid;
  grid-template-columns: repeat (3, 400px);
}

.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title,
.offers-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title,
.offers-title {
  margin-bottom: 62px;
}

.advantages-title {
  position: relative;
}

.advantages .advantages-title:after {
  position: absolute;
  content:"";
  display: block;
  margin: 0;
  margin-left: 170px;
  bottom: -30px;
  left: 0;
  height: 2px;
  width: 60px;
  background-color: #0000004D;
    }


.advantages-item-blue .advantages-title:after {
  position: absolute;
  content:"";
  display: block;
  margin: -30px;
  margin-left: 170px;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 60px;
  background-color: #FFFFFF4D;
    }

.offers-item:nth-child(1) {
  background-image:url('/images/advantage-house.svg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}


.offers-item:nth-child(2) {
  background-image:url('/images/advantage-food.svg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}


.offers-item:nth-child(3) {
  background-image:url('/images/advantage-souvenirs.svg');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.advantages-item,
.offers-item,
.advantages-description-wrapper {
  width: 400px;

}

.advantages-description-wrapper {
  padding-top: 112px;
  text-align: center;
  padding-bottom: 112px;
}

.offers-list .advantages-description-wrapper {
  padding-top: 183px;
}



.advantages-item-blue {
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  grid-column: 1/4 ;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advantages-item-grey {
  background-color: #83B3D31F;
}

.advantages-item-light-blue {
  background-color: #83B3D333;
}



.advantages-description,
.offers-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.main-search {
  text-align: center;
  padding: 96px 304px;
}


.hotel-search-link {
  margin-bottom: 96px;
  text-decoration: none;
  color: #fff;
}


.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756157;
  background-size: cover;
  text-align: center;
  padding: 96px 258px 104px;
}



.subscribe-form {
  display: flex;
}

.subscribe-form input {
  width: 452px;
}

.field {
  padding-left: 20px;
  font: inherit;
}

.field:hover,
.field:focus
{

}
.page-footer {
  display: flex;
  flex-wrap: nowrap;
  padding: 40px 70px 30px;
}


.footer-social {
  width: 200px;
  margin-right: 150px;
}


.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.footer-social-link:hover svg path,
.footer-social-link:focus svg path {
fill:#68A2CA;
}


.footer-social-link:active svg path {
  fill: #68A2CA4D;
}

/*
.footer-social-vk {
background-image: url('/images/social-vk.svg')
}
.footer-social-tg {
  background-image: url('/images/social-tg.svg')
  }

  .footer-social-yt {
    background-image: url('/images/social-yt.svg')
    }
*/

.footer-contacts {
  width: 331px;
  margin-right: auto;
}


.footer-developer {
  width: 115px;
}

.developer-logo:hover path, .developer-logo:focus path {
fill: #756157;
}

.developer-logo:active path {
fill: #7561574D
}

.footer-phone a {
  color: #333333;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
}


.footer-phone a:focus, .footer-phone a:hover {
color: #756157;
}

.footer-phone a:active {
  color: #7561574D;
  }


.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

label {
  font-size: 18px;
  line-height: 23px;
}


.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;

}

.breadcrumbs-item {
  margin-right: 25px;
}



.breadcrumbs-item:not(:last-child)::after {
position: absolute;
bottom: 10%;
content:"";
width: 7px;
height: 10px;
background-image: url('../images/icon-breadcrumbs-arrow.svg');
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: nowrap;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  width: 150px;
  margin-right: 167px;
}

.catalog-filter-group:nth-child(3) {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}


.control-mark {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 19px;
  border-radius: 5px;
}

.inner-header {
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756157;
  background-size: cover;
  padding: 35px 70px 70px;
}


.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.range-scale {
position: relative;
height: 4px;
margin-bottom: 8px;
background-color: rgba(242, 242, 242, 1)
}


.range-bar {
  background-color: #FFFFFF;

}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: ;
  cursor: pointer;
}


.toggle-min {
  top: -10px;
  left: -10px;
  }


.toggle-max {
top: -10px;
right: -10px;
}

.range-wrapper-units {
  display: flex;
  justify-content: center;
}
.catalog-filter-label {
  display: flex;
}

.range-input {
  position: relative;
width: 143px;
padding: 12px auto 20px ;
font: inherit;
text-align: center;
background-color: #E5E5E5;
border: none;
appearance: textfield;
}

.catalog-label-text {
position: absolute;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button
{
appearance: none;
margin: 0;
}

.hotels-wrapper {
  padding: 50px 70px 60px;
}

.search-results-title {
  width: 450px;
}

.hotel-search-results {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-sorting {
  font: inherit;
  font-size: 18px;
  line-height: 21px;
  margin-left: 192px;
  padding: 14px 100px 14px 20px;
  width: 292px;
  height: 49px;
  border-color: rgba(0, 0, 0, 0.2);
  background-image: url('../images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.hotel-search-sorting:focus-visible,
.hotel-search-sorting:hover {
border-color: #68A2CA;
outline: none;
}

.hotel-search-sorting:disabled {
border: #0000004D;
color: #0000004D;
}



.catalog-hotels {
  /*
  display: flex;
  flex-wrap: wrap;
  */
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
}

.cards-view-container {
  margin-left: 70px;
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.cards-view-container .cards-view {
  margin-right: 8px;
}

.cards-view {
display: flex;
align-items: center;
justify-content: center;
width: 160px;
height:48px;
border: 2px solid #E5E5E5;
}

.cards-view:hover, .cards-view:active, .cards-view-current {
border: 2px solid #000000;
}

.cards-view:focus {
  border: 2px solid #68A2CA;
  outline: none;
  }

.hotel-item {
  /*
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  */
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  gap: 20px;
}

/*
.hotel-item:nth-child(3) {
  margin-right: 0;
}

*/


.hotel-image {
  margin-bottom: 16px;
}

.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / 3;
}

.hotel-card-link:hover .hotel-name,
.hotel-card-link:focus .hotel-name
{
  color:#756157;
}

.hotel-card-link:active .hotel-name {
  color: #7561574D;
}


.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  color: #333333;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 8px 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 161px;
}


.hotel-options-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 3;
}




.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 60px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-current {
  color: #333333;
  background-color: #F2F2F2;
}



.pagination-link:not(.pagination-current):active {
color: #FFFFFF4D;
}


.pagination-hidden {
  background-color: transparent;
  color:  #333333;
  }

  .pagination-hidden:hover
  {
    background-color: #FFFFFF4D;
    }


    .pagination-link:not(.pagination-current):hover,
    .pagination-link:not(.pagination-hidden):hover,
    .pagination-link:not(.pagination-current):focus,
    .pagination-link:not(.pagination-hidden):focus
{
background-color: #68A2CA;
}



.modal-container {
  /*
  position: absolute;
  top: 0;
  left: 0;
*/
display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0,8);
  padding: 64px 70px;
}


.modal-container-close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #FFFFFF;
  background-image: url(../images/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat (2, auto);
  column-gap: 70px;
  grid-template-rows: repeat (4, auto);
  row-gap: 23px;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.modal-search input {
background-color: #F2F2F2;
}
